$dark-blue: #2E3561;
$light-blue: #99AEDA;
$off-white: #E4EAF6;

$transition-time: .25s;

@font-face {
    font-family: "Univers-Regular";
    src: url(./fonts/univers/UniversRegular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Univers-Regular", sans-serif;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
}


body {
    overflow-x: hidden;
    transition: padding-top $transition-time;
    min-height: 100vh;
    padding-top: 91px;
    &.show {
        padding-top: 200px;
    }
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(./images/background-image/grid-background.svg);
    background-size: 100px;
    &::before {
        content: '';
        z-index: 2;
        border-top: dashed 2px $off-white;
        border-right: dashed 2px $off-white;
        position: fixed;
        height: 100px;
        width: 97vw;
        align-self:flex-start;
    }
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 91px;
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, .25);
    #navbar {
        overflow: hidden;
        height: 0px;
        opacity: 0;
        transition-property: opacity height;
        transition-duration: $transition-time;
        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            li {
                transition: color $transition-time;
                margin: 5px 0;
                color: $off-white;
                cursor: pointer;
                font-size: 24px;
                &:hover {
                    color: white;
                }
            }
        }
    }
    #logo {
        width: 100%;
        padding: 31px 15px 0px;
        display: flex;
        justify-content: space-between;
    }
    #mobile-lines {
        width: 40px;
        cursor: pointer;
    }
    #logo-text {
        max-width: 200px;
        cursor: pointer;
    }
    #needle {
        transition: top $transition-time;
        position: fixed;
        height: 75px;
        top: 195px;
        left: calc(97vw - 2px);
    }
    transition-duration: $transition-time;
    transition-property: height;
    &.show {
        #navbar {
            height: 100%;
            opacity: 1;
        }
        #needle {
            top: 304px;
        }
        height: 200px;
    }
}

#main-logo {
    max-width: 538px;
    margin: 36px 20px 0px;
}

#designers {
    margin: 60px 0 30px;
    font-family: "Salted", cursive;
    color: $light-blue;
}

#gallery {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0 60px 30px;
    .designer {
        position: relative;
        ::before {
            content: '';
            position: absolute;
            left: -25px;
            top: -25px;
            z-index: -1;
            width: 284px;
            height: 554px;
            background-color: $light-blue;
            border-radius: 40px;
            opacity: .15;
        }
        display: flex;
        margin: 30px;
        flex-direction: column;
        align-items: center;
        width: 284px;
        img {
            cursor: pointer;
            width: 100%;
            border-radius: 30px;
            filter: grayscale(1);
            transition: filter $transition-time;
            &:hover {
                filter: grayscale(0);
            }
        }
        h2 {
            cursor: pointer;
            margin-top: 30px;
            color: $off-white;
            transition: color $transition-time;
            &:hover {
                color: $light-blue;
            }
        }
    }
}

footer {
    box-shadow: 0px -15px 15px rgba(0, 0, 0, .25);
    padding-top: 15px;
    height: 218px;
    width: 100vw;
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    ul {
        margin-top: 10px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        li {
            margin: 0px 10px;
            cursor: pointer;
            transition: color $transition-time;
            &:hover {
                color: $light-blue;
            }
        }
    }
    #school-logo {
        width: 100px;
        margin-top: 40px;
    }
}

// DESIGNER PAGES
#designer-page {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: $off-white;
    text-align: center;
    #name {
        margin-top: 30px;
        font-size: 48px;
    }
    #collection-name {
        font-family: "Salted", cursive;
        color: $light-blue;
    }
    #collection-gallery {
        margin-top: 15px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .container {
            font-size: 0;
            position: relative;
            max-width: 250px;
            height: auto;
            margin: 10px 25px;
            .description {
                cursor: default;
                font-size: 16px;
            }
            .overlay {
                opacity: 0;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .5);
                top: 0;
                border-radius: 30px;
                transition: opacity $transition-time;
                &:hover {
                    opacity: 1;
                    user-select: none;
                }
            }
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 30px;
        }
    }
    #flex-horizontal {
        position: relative;
        &::before {
            content: '';
            border-radius: 40px;
            opacity: .15;
            position: absolute;
            z-index: -1;
            left: calc(50% - 150px);
            top: 65px;
            height: 494px;
            width: 250px;
            background-color: $light-blue;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 40px;
        #designer-headshot {
            width: 250px;
            border-radius: 30px;
        }
        #flex-vertical {
            padding-top: 20px;
            #bio, #statement {
                padding: 10px 0;
                h2 {
                    font-size: 30px;
                    margin-bottom: 4px;
                }
            }
            #contact-info {
                padding-top: 15px;
            }
            a {
                display: flex;
                margin: 10px 0;
                align-items: center;
                font-size: 20px;
                color: $light-blue;
                transition: color $transition-time;
                &:hover {
                    color: $off-white;
                }
                &.instagram::before {
                    content: url(./images/icons/instagram.svg);
                }
                &.email::before {
                    content: url(./images/icons/email.svg);
                }
                &.email::before, &.instagram::before {
                    font-size: 0px;
                    display: inline-block;
                    border-radius: 10%;
                    width: 30px;
                    margin-right: 10px;
                }
            }
            max-width: 650px;
            text-align: left;
            display: flex;
            flex-direction: column;
        }
    }
}

// SHOW PAGE
#show-title {
    color: $light-blue;
    font-family: "Salted", cursive;
    padding-top: 50px;
}
#show {
    #main-logo {
        filter: opacity(.5);
    }
    width: 100%;
    flex-grow: 1;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    a {
        text-decoration: none;
        color: $off-white;
        transition: color $transition-time;
        &:hover {
            color: $light-blue;
        }
    }
}

// CREDITS PAGE
#credits-title {
    color: $light-blue;
    font-family: "Salted", cursive;
    padding-top: 50px;
}
#credits {
    width: 100%;
    height: auto;
    flex-grow: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    ul {
        list-style-type: none;
        color: $off-white;
        margin-bottom: 30px;
        li {
            padding: 2px 0px;
            font-size: 20px;
        }
    }
    h2 {
        font-size: 30px;
        color: $light-blue;
    }
    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
#credits-footer {
    color: $off-white;
    font-size: 16px;
    padding: 20px 0px;
}

// Larger screens
@media (min-width: 900px) {
    body{
        transition: none;
        &::before {
            transition: none;
        }
    }

    header {
        transition: none;
        height: 91px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 83px;
        #logo {
            padding: 0px;
        }
        #mobile-lines {
            display: none;
        }
        #logo-text {
            max-width: 356px;
            cursor: pointer;
        }
        #navbar {
            display: block;
        }
        #navbar {
            transition: none;
            flex-shrink: 0;
            opacity: 1;
            height: auto;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 330px;
                list-style-type: none;
            }
            li {
                transition: color $transition-time;
                color: $off-white;
                cursor: pointer;
                font-size: 24px;
                &:hover {
                    color: white;
                }
            }
        }
        #needle {
            transition: none;
            position: fixed;
            height: 75px;
            top: 195px;
        }
    }

    // DESIGNER PAGES
    #designer-page{
        #collection-gallery .container {
            max-width: 400px;
            .description {
                font-size: 24px;
            }
        }
        #flex-horizontal {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 40px;
            &:before {
                left: 15px;
                top: auto
            }
            
            #designer-headshot {
                width: 250px;
            }
            #flex-vertical {
                padding: 40px;
                max-width: 642px;
                text-align: left;
                display: flex;
                flex-direction: column;
            }
        }
    }

    // CREDITS PAGE
    #credits {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        .column {
            justify-content: flex-start;
            margin: 0px 15px;
        }
    }
}