$dark-blue: #2E3561;
$light-blue: #99AEDA;
$off-white: #E4EAF6;

$transition-time: .25s;

@font-face {
    font-family: "Univers-Regular";
    src: url(./fonts/univers/UniversRegular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Univers-Regular", sans-serif;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


body {
    transition: padding-top $transition-time;
    min-height: 100vh;
    padding-top: 91px;
    &.show {
        padding-top: 200px;
    }
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(./images/background-image/grid-background.svg);
    background-size: 100px;
    &::before {
        content: '';
        z-index: 2;
        border-top: dashed 2px $off-white;
        border-right: dashed 2px $off-white;
        position: fixed;
        height: 100px;
        width: 97vw;
        align-self:flex-start;
    }
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 91px;
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, .25);
    #navbar {
        display: none;
        ul li {
            transition-property: color;
            transition-duration: $transition-time;
        }
    }
    #logo {
        width: 100%;
        padding: 31px 15px 0px;
        display: flex;
        justify-content: space-between;
    }
    #mobile-lines {
        width: 40px;
        cursor: pointer;
        transition: filter $transition-time;
        &:hover {
            filter: brightness(2);
        }
    }
    #logo-text {
        max-width: 200px;
        cursor: pointer;
    }
    #needle {
        transition: top $transition-time;
        position: fixed;
        height: 75px;
        top: 195px;
        left: calc(97vw - 2px);
    }
    transition-duration: $transition-time;
    transition-property: height;
    &.show {
        #navbar {
            display: block;
            height: 100%;
        }
        #needle {
            top: 304px;
        }
        height: 200px;
        #navbar ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            li {
                margin: 5px 0;
                color: $off-white;
                cursor: pointer;
                font-size: 24px;
                &:hover {
                    color: white;
                }
            }
    }
    }
}

#main-logo {
    max-width: 538px;
    margin: 36px 20px 0px;
}

#designers {
    margin-top: 60px;
    font-family: "Salted", cursive;
    color: $light-blue;
    margin-bottom: 30px;
}

#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin: 0 60px 30px;
    .designer {
        display: flex;
        margin: 30px;
        flex-direction: column;
        align-items: center;
        width: 284px;
        img {
            cursor: pointer;
            width: 100%;
            border-radius: 30px;
            filter: grayscale(1);
            transition: filter $transition-time;
            &:hover {
                filter: grayscale(0);
            }
        }
        h2 {
            cursor: pointer;
            margin-top: 10px;
            color: $off-white;
            transition: color $transition-time;
            &:hover {
                color: $light-blue;
            }
        }
    }
}

footer {
    box-shadow: 0px -15px 15px rgba(0, 0, 0, .25);
    padding-top: 15px;
    height: 218px;
    width: 100vw;
    margin-top: auto;
    background-color: $off-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    ul {
        margin-top: 10px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        li {
            margin: 0px 10px;
            cursor: pointer;
            transition: color $transition-time;
            &:hover {
                color: $light-blue;
            }
        }
    }
    #school-logo {
        width: 100px;
        margin-top: 40px;
    }
}

// DESIGNER PAGES
#designer-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: $off-white;
    text-align: center;
    #name {
        margin-top: 30px;
        font-size: 48px;
    }
    #collection-name {
        font-family: "Salted", cursive;
        color: $light-blue;
    }
    #collection-gallery {
        margin-top: 15px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        img {
            max-width: 250px;
            margin: 10px 25px;
            border-radius: 30px;
        }
    }
    #flex-horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 40px;
        #designer-headshot {
            width: 250px;
            border-radius: 30px;
        }
        #flex-vertical {
            #bio, #statement {
                padding: 10px 0;
                h2 {
                    font-size: 30px;
                    margin-bottom: 4px;
                }
            }
            max-width: 650px;
            text-align: left;
            display: flex;
            flex-direction: column;
        }
    }
}

// Larger screens
@media (min-width: 900px) {
    header {
        height: 91px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 83px;
        #logo {
            padding: 0px;
        }
        #mobile-lines {
            display: none;
        }
        #logo-text {
            max-width: 356px;
            cursor: pointer;
        }
        #navbar {
            display: block;
        }
        #navbar ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 330px;
            list-style-type: none;
            li {
                transition: color $transition-time;
                color: $off-white;
                cursor: pointer;
                font-size: 24px;
                &:hover {
                    color: white;
                }
            }
        }
        #needle {
            position: fixed;
            height: 75px;
            top: 195px;
        }
    }

    // DESIGNER PAGES
    #designer-page{
        #collection-gallery img {
            max-width: 400px;
        }
        #flex-horizontal {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 40px;
            
            #designer-headshot {
                width: 250px;
            }
            #flex-vertical {
                padding: 40px;
                max-width: 642px;
                text-align: left;
                display: flex;
                flex-direction: column;
            }
        }
    }
}